/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

*= require font_awesome5

SHADES OF FOREST GREEN:

https://www.color-hex.com/color/228b22


FONT SIZES (USE SCSS!)

span content: 17px;
post content: 17px;


 */
 
 @import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,600&display=swap');

 body {
   margin: 0;
   display: grid;
   /* grid-template-columns: 22% 33% 25% 20%; */
   /* grid-template-columns: 22% 33% 25% 20%; */
   grid-template-columns: 260px 500px 320px 255px;
   /* grid-template-columns: 300px 450px 342px 273px; */
   grid-template-rows: 24px auto;
   font-family: 'Didact Gothic', sans-serif;
   background-color: rgb(2,23,33);
   font-size: 12px;
   /*filter: grayscale(50%);*/
 }

p {
  font-family: 'Montserrat';
  font-size: 18px;
  line-height: 1.2;
  font-weight: 200;

}

.navbar /*LOGIN */ {
  display: inline;
  position: fixed;
  padding-bottom: 25px; /*88 is good!ORIG 20px;*/
  /* margin-bottom: 4vh; */
  height: 24px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/577362/backlit-creepy-dark-289367.jpg");
  opacity: 1;
  background-color: rgb(16,96,16);
  font-family: 'Montserrat';
  font-weight: 600;
  margin: 0;
  color: rgb(255,255,255);
  width: 100%;
  z-index: 5;
}

.navbar-main {
   padding-bottom: 20px; 
}

.navbar ul {
  transform: translateY(-10px);
}
.navbar li {
  display: inline;
  font-size: 24px; /*ORIG: 13px*/
  /*font-weight: bold;*/
  margin-right: 45px; /*ORIG */
  letter-spacing: -1px;
  line-height: 44px;
}
.navbar-tac {
  margin-right: 2.5px !important;
}

a {
  text-decoration: none;
  color:inherit;
}
a:visited {
  color:inherit;
}

.link-all-users {
  margin-left: 0;
  margin-right: 650px !important;
}
.tac-image {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  transform: translateY(4px);
}

.entry-navbar {
  height: 60px;
}


.entry-navbar ul /*To move entry text up and down Or use .link-login a, .link-signup a */{
  margin-top: 9px;
}

.logo {
  font-size: 56px !important; /*ORIG 36*/
  margin-left: 150px;
  font-family: 'Montserrat';
  font-weight: 200 !important;
  margin-right: 675px !important;
}

.link-login a, .link-signup a{
  font-size: 40px;
  font-family: 'Montserrat';
   /*margin-top: 90px;*/
}

.link-signup a {
  line-height: 8%;
}



.font-input {
  font-family: "Montserrat" !important;
  font-weight: 200;
}


textarea {
  width: 80%;
  padding: 5% 2% 0 2%;
  border: none;
  resize: none;
  background-color: rgba(250,255,250);
  font-family: "Montserrat";
  font-size: 19px;
  caret-color: rgb(23,100,23;)
}

.comment-field {
  width: 85%;
  border: 1.5px solid rgb(233,235,238);
  border-radius: 25px;
  margin-bottom: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 19px;
}

input[type=submit] {
  width: 90%;
  /* text-align: center; */
  /* margin: auto; */
  margin-left: 5%;
  color: white;
  padding: 9px 0;
  border: none;
  border-radius: 3px;
  /*font-weight: bold;*/
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 49px;
  letter-spacing: -2px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/577362/backlit-creepy-dark-289367.jpg");
  opacity: 1;
  border-radius: 10px 10px 10px 4px;
}

.input:focus {
  border: 1px solid rgb(12,67,12);
}


.posts, .posts-edit, .posts-show, .profiles-edit, .comments-edit, .users-show, .registrations-edit{
  grid-area: 2 / 2 / 3 / 3;
  margin-top: 30px; /*OORIG 20px*/
}

.channel-posts {
  position: relative;
  margin-top: 100px;
  margin-left: 50px;
  color: #fefefe;
}

.channel-posts-display {
  color: #fefefe;
  margin-top: 100px;
  margin-left: 50px;
}

.users-index, .requests-index {
  grid-area: 2 / 2 / 3 / 4;
  margin-top: 20px;
  background-color: white;
  padding-bottom: 10px;
}

.registrations-new, .sessions-new {
  grid-area: 2 / 3 / 3 / 4;
  margin-top: 190px; /*ORIG 70  */
  width: 120%;
}

.registrations-edit {
  margin-top: 34px;
}

.external-login {
  grid-area: 2 / 2 / 3 / 3;
  margin-top: 270px;
  margin-left: -100px;
}

/* PROFILE PAGE */


.cover-background {
  grid-area: 2 / 2 / 3 / 4;
  width: 851px;
  height: 358px;
  /* height: 100px; */
  /*background: linear-gradient(to top, rgb(12, 40, 12), white);*/
  background:#222;
  margin-left: 25px;
  margin-top: 30px;
  border-radius: 5px;
  font-family: 'Montserrat' !important;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.cover-image {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.cover-name {
  font-size: 39px !important;
   /*text-shadow: */
   /* 1px 0px 1px #ccc, 0px 1px 0px #eee, */
   /* 2px 1px 1px #ccc, 1px 2px 0px #eee,*/
   /* 2px 2px 1px #ccc, 2px 2px 0px #eee,*/
   /* 2px 1px 1px #ccc, 2px 1px 0px #eee;*/
   /* 5px 4px 1px #ccc, 4px 5px 1px #eee;*/
    /*6px 5px 1px #ccc, 5px 6px 1px #eee,*/
    /*7px 6px 1px #ccc;*/
    letter-spacing: 0px;
    color: rgb(250,255,250);
    font-family: "Montserrat";
    font-weight: 200;
}

.user-name { /*Master name for comments*/
    font-size: 18px; /*ORIG 17px*/
    color: rgb(12,65,12);
    letter-spacing: -1px;
    line-height: 0.1;
    padding-right: 5px;
   font-family: 'Montserrat';
}

a:user-name {
font-family: 'Montserrat';
}

.user-image {
  grid-area: 2 / 2 / 3 / 3;
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.user-image img{
  width: 175px;
  height: 175px;
  border: 2px solid white;
  border-radius: 3px;
  margin-top: 120px;
}

.cover-content {
  grid-area: 2 / 2 / 3 / 4;
  width: 851px;
  height: 358px;
  font-size: 14px;   /*this is for both buttons*/
  position: relative;
}
.cover-content p {
  color: white;
  font-size: 24px;
  margin-left: 250px;
  margin-top: 280px;
}

.add-friend-button {
  position: absolute;
  bottom: 50px;
  right: 10px;
  font-weight: bold;
  background-color: rgb(233, 235, 238);
  border: 0.5px solid black;
  border-radius: 3px;
  padding: 6px 20px;
  /* transform: translateY(25px); */
  /* margin-left: 225px; */
}
.accept-color {
  /* width: 51%; */
  padding: 6px 29px;
  background-color: rgb(66,103,178);
  color: white;
}


.edit-your-profile-button {
  position: absolute;
  bottom: 50px;
  right: 6px;
  color: rgb(255,255,255) !important;
  /*background-color: rgb(233, 235, 238);*/
  background: transparent;
  border: 1px solid rgba(255,255,255);
  border-radius: 20px 8px 20px 8px;
  font-size: 24px;
  padding: 9px 28px;
  font-family: 'Montserrat';
  letter-spacing: -2px;
  font-weight: 100;
  /* transform: translateY(25px); */
  /* margin-left: 210px; */
}

.avatar-label {
  transform: translateY(-100px);
}

.cover-photo-label {
  transform: translate(-30px, -370px);
}

.edit-profile-fields {
  transform: translateY(-65px);
}

.edit-profile-fields textarea {
  border: 1px solid #ccc;
}

.user-info-left-background {
  grid-area: 3 / 2 / 4 / 3;
  height: 185px;
  width: 58%;
  background-color: #222;
  border: 1px inset #444;
  margin-left: 25px;
  margin-top: 12px;
  margin-bottom: 20px;
  border-radius: 3px;
}
.user-info-left {
  grid-area: 3 / 2 / 4 / 3;
  width: 55%;
  margin-left: 52px;
  margin-top: 17px;
  font-family: 'Montserrat' !important;
  font-size: 18px;
  line-height: 1.7;
  /*background-color: #f22;*/
  color: #fefefe;
}

.friends-background {
  grid-area: 3 / 2 / 4 / 3;
  height: 300px;
  width: 58%;
  background-color: white;
  border: 1px solid lightgrey;
  margin-left: 25px;
  margin-top: 212px;
  margin-bottom: 50px;
  border-radius: 3px;
}
.friends {
  grid-area: 3 / 2 / 4 / 3;
  width: 55%;
  margin-left: 52px;
  margin-top: 217px;
}
.friends-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  margin-right: 0px;
}

.friend-name {
  color: white;
  margin-left: 5px;
  margin-top: -25px;
  margin-bottom: 30px;
}

.profile-edit {
  height: 200px;
}

.profile-edit-submit-button {
  transform: translate(600px,-340px);
  width: 175px !important;
  border: 1px solid rgb(90, 90, 90) !important;
  background-color: rgb(233, 235, 238) !important;
  color: rgb(90, 90, 90) !important;

}

.all-users {
  grid-area: 3 / 2 / 4 / 4;
  width: 100%;
  margin-top: 25px;
  padding-bottom: 18px;
}
.users-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  /* margin-left: 50px; */
}

.users-grid a{
  margin: auto;
  /* margin-left: 50px; */
}


.user-posts {
  grid-area: 3 / 3 / 4 / 4;
  width: 171%;
  margin-left: -170px;
  margin-top: 12px;
}




/* END PROFILE PAGE */

.users-index-user {
  position: relative;
  margin-top: 20px;
  margin-left: 18px;
}

.users-index-button {
  position: absolute;
  bottom: -10px;
  right: 19px;
}

.users-index h1, .requests-index h1 {
  margin-left: 18px;
}



.user-name {
     color: rgb(12,98,12);
   font-weight: bold;
}

.new-post img {
  width: 50px;
  height: 50px;
  display: inline;
  border-radius: 50%;
  margin-left: 9px;
  transform: translateY(-15px);
}

.post, .new-post {
  border: 1px solid lightgrey;
  background: #fefffe;
 /* background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/577362/black-and-white-close-up-eyes-407035.jpg") 30% 48%; */
  border-radius: 3px;
  margin-bottom: 13px;
  padding-bottom: 6.5px;
  padding-left: 6.5px;
  font-family: 'Didact Gothic' !important;
}

.new-post {
}
.new-post-top {
  background-color: rgb(246,247,249);
  border: 1px solid lightgrey ;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  width: 100%;
  height: 30px;
  margin-bottom: 9px;
  color: rgb(66,103,178);
  font-weight: bold;
  font-size: 15px;

}
.new-post-top {
  background-color: rgb(246,247,249);
  border: 1px solid lightgrey ;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  width: 101.2%;
  height: 30px;
  margin-bottom: 9px;
  color: rgb(66,103,178);
  font-weight: bold;
  font-size: 11px;
  position:relative;
  transform: translateX(-6.5px);
}

.new-post-top span {
  position:absolute;
  /* vertical-align: middle; */
  top: 6.5px;
  left: 25px;
}

.post-photo {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.photo-label{
  margin-left: 20px;
  font-size: 12px !important;
  font-weight: bold !important;
  padding: 5px 15px 7px;
  background-color: rgb(245, 247, 248) !important;
  border-radius: 25px;
  display: inline-block;
  color: rgb(90, 90, 90) !important;
}

.photo-label:hover {
  background-color: rgb(233, 235, 238) !important;
}

.fa-image {
  font-size: 18px !important;
  transform: translateY(2px);
}

.alert {
  grid-area: 3 / 3 / 4 / 4 ;
  /* margin-top: 100px; */
  margin-left: 10px;
  font-size: 20px;
  /* color: darkred; */
}

.flash {
  padding-top: 6px;
  text-align: center;
}

.post-failure {
  color: darkred;
}

.post-header {
  position: relative;
}

.timestamp {
  font-size: 10px;
  color: rgb(90,90,90) !important;
}

.edit-delete-post {
  position: absolute;
  right: 10px;
  /* margin-right: 5%; */
  font-size: 10px;
  color: rgb(90,90,90);
}
.edit-delete-post a:hover {
  color: black;
}

.edit-delete-post a {
  margin-left: 5px;
}

.post-content {
  font-size: 19px;
  line-height: 2;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Montserrat';
}
.like-comment-buttons {
  padding: 3px 0px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

/* .like-comment-buttons{
  display: inline;
  width: 95%;
  float: left:
  padding: 20px 0px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  z-index: 2;
} */
.like-button {
  display: inline;
  float: left;
  width: 48% !important;
  margin-left: 1% !important;
  color: rgb(90, 90, 90) !important;
  padding: 6px 40px;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  background-color: white !important;
}
.unlike {
  color: rgb(66, 103, 178) !important;
}
.comment-button {
  display: inline;
  /* float: none; */
  width: 48% !important;
  margin-left: 1%;
  color: rgb(30, 90, 30) !important;
  padding: 6px 40px;
  border: none;
  border-radius: 3px;
  /*font-weight: bold;*/
  font-family: "Didact Gothic";
  background-color: white !important;
}
.like-button:hover, .comment-button:hover {
  background-color: rgb(246, 247, 249) !important;
}
.liked-by{
  font-weight: lighter !important;
  color: rgb(66, 103, 178);
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-bottom: 0;
}
.new-comment-image {
  transform: translateY(-12px) !important;
}
.new_comment {
  margin-top: 10px;
}

.comment-image {
  float: left;
  margin-right: 5px;
  z-index: 1;
}
/* .all-comments a:first-of-type { */
/* .all-comments:first-child {
  transform: translateY(35px) !important;
  width: 50px;
  border: 5px solid red !important;
} */

.edit-delete-comment {
  position: absolute;
  right: -60px;
  /* margin-right: 5%; */
  font-size: 13px;
  color: rgb(90,90,90);
}
.edit-delete-comment a:hover {
  color: black;
}

.edit-delete-comment a {
  margin-left: 5px;
}

.comment {
  position: relative;
  width: 72% !important;
  margin-left: 25px !important;
  padding: 10px 10px 5px 10px !important;
  border-radius: 15px;
  background-color: rgb(252, 255, 252);
}
.comment-content {
font-size: 17px;
font-family: 'Montserrat';
}

.regist-header {
  font-size: 42px;
  margin-left: 5px;
  margin-bottom: 3px;
  color: rgb(250,255,250);
}
.regist-free {
  font-size: 20px;
  font-weight: 100;
  margin-left: 5px;
  margin-top: 3px;
  margin-bottom: 5px;
}
.regist-Heroku {
  font-size: 20px;
  font-weight: 100;
  margin-left: 30px;
  margin-top: 3px;
  margin-bottom: 5px;
}


.firstname-regist input {
  width: 43%;
  float: left;
}
.lastname-regist input {
  width: 43%;
  float: right;
  margin-right: 0;
}
.email-regist input {
  width: 94%;
}
.password-regist input {
  width: 94%;
}
.confirm-regist input {
  width: 94%;
}
.current-password-regist input {
  width: 94%;
}



.field input {
	border: 1px solid #ccc;
	/* -moz-border-radius: 10px;
	-webkit-border-radius: 10px; */
	border-radius: 5px;
	/* -moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666; */
	box-shadow: none;
	font-size: 16px;
	padding: 8px 7px;
  margin: 5px;
	outline: 0;
	/* -webkit-appearance: none; */
}
.field input:focus {
	/* border-color: #339933; */
}


.conditions {
  width: 75%;
  margin-left: 5px;
}

.registration-button input {
  /* border: 0.5px solid black; */
  border-radius: 6px;
  width: 45%;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 20px;
  background-color: rgb(95, 156, 76);
}

.registrations-edit form label, .registrations-edit h3, .registrations-edit p {
  margin-left: 5px;
}

.delete-account-button {
  background-color: darkred !important;
}

.delete-account {
  background-color: white;
  border: 1px solid lightgrey;
  margin-top: 10px;
  border-radius: 5px;
}

.signin-links {
  margin-left: 80px;
  /* LINE BELOW ADDED TO DEACTIVATE LINK SIGNIN VIA FACEBOOK / GITHUB AS THESE TO NO WORK IN HEORKU */
  /* REMOVE LINE BELOW TO RESTORE FEATURE IN LOCAL DEMONSTRATION */
  /*pointer-events: none;*/
}

.facebook-signin {
  font-size: 100px;
}

.github-signin {
  font-size: 100px;
  margin-left: 20px;
}

.wisdom-quote {
  font-family: "Montserrat";
  font-weight: 200;
}

.external-login .regist-header {
  margin-bottom: 20px;
}

.previous-page, .next-page {
  color: rgb(66, 103,178) !important;
  font-weight: bold;
  margin-bottom: 50px;
}
.previous-page {
  float: left;
  margin-left: 10px;
}
.next-page {
  float: right;
  margin-right: 10px;
}

.users-next-page-div {
  grid-area: 3 / 2 / 4 / 4;
}

.user-page {
  margin-top: 20px;
}
